
@import '../../../style/config';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding : 16px;
  height  : 80px;

  background-color : $White;
  box-shadow       : rgba(0, 0, 0, 0.15) 2px 2px 2.5px;
}


.header__text {
  @include header-text;
}


.header__dark-mode-container {
  @include normal-text;
}