

@import '../../../style/config';


.countries-panel {
  padding: 16px;
}

.countries-panel__search-bar {
  margin-top : 8px;
  width      : 100%;
  padding    : 16px;

  // box-shadow : rgba(0, 0, 0, 0.15) 1px 1px 1.5px;
}


.countries-panel__select-bar {
  margin-top: 36px;
  padding: 16px 24px;
}